@charset "UTF-08";


*{
    /*GRUDAR A PÃGINA EM CIMA, EMBAIXO E AOS LADOS.*/
    margin: 0px;
    padding: 0px;
}

body {

    background-image: url(universo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: sans-serif;
    font-size: 16px;

    text-align: justify;

    margin: auto; 
    /*Fica ao meio*/

    /*Tamanho de telas menores*/
    min-width: 300px;
    max-width: 100px;
}

header {
    background-color: black;
    color: white;

}

header > nav {
    padding: 20px;
    margin: 30px;

}


header > nav > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: lighter;
}

header > h1 {
    font-weight: bold;
    font-size: 32px;  
    margin: 30px;

}

img {
    text-align: center;
    width: 100%; /*Para a imagem acompanhar o tamanho da tela*/
}

header > p {
    font-size: 14px;
    font-weight: lighter;

}

section {
    background-color: white;
    
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

section > p > a {
    color: #27a9e1;
    text-decoration: none;
}


section > ul {
    list-style: disc;
    font-size: 16px;
    margin: 20px;
}

section > ul > li > a {
    color: #27a9e1;
    text-decoration: none;
}

section > ul > li > a:hover {
    text-decoration: underline;
}

section > figure {
    text-align: center;
}


figcaption {
    color: gray;
    font-style: italic;
    font-size: 13px;
}

section.destaque {
    padding: 20px;
    font-style: italic;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0 1px 10px -1px rgb(76 7 9 / 14%);
}

section.destaque > p > a {
    color: #ed3237;
}

section.destaque:hover {
    text-decoration: underline; 
}

section > p.fonte {
    font-style: italic;
}

section.final {
    background-color: rgb(221, 215, 215);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

section.final > h3 {
    font-size: 20px;
}

section.final > p {
    font-size: 16px;
    text-align: justify;
}

.email {
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: #27a9e1;
}

.inscrever {   
    font-size: 15px;
    padding: 10px;
    background-color: #27a9e1;
    color: white;
    border: 1px solid #27a9e1;
    border-radius: 5px;
}

footer {
    background-color: rgb(61, 53, 53);
    color: white;
    text-align: center;
}